* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: rgb(255, 255, 255);
    width: 550px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    animation: fadeIn 1s ease-in-out;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card a{
    font-size: 30px;
    margin: 20px 0 10px;
    color: rgb(14, 13, 11);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.card h1 {
    font-size: 45px;
    margin: 20px 0 10px;
    color: #201f16;
}

.card p {
    font-size: 18px;
    color: #0e0e0e;
    margin-bottom: 20px;
}

button {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
